@model BookStore.Models.OrderDetailsVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input hidden asp-for="OrderHeader.Id" />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <dl class="row">
                        <dt class="col-sm-4">
                            Tên
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Name
                        </dd>
                        <dt class="col-sm-4">
                            Họ
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.SurName
                        </dd>
                        <dt class="col-sm-4">
                            Số điện thoại
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.PhoneNumber
                        </dd>
                        <dt class="col-sm-4">
                            Địa chỉ
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Adress
                        </dd>
                        <dt class="col-sm-4">
                            Thành phố
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.City
                        </dd>
                         <dt class="col-sm-4">
                            Huyện/Phường
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.District
                        </dd>
                        <dt class="col-sm-4">
                            Mã bưu điện
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.PostCode
                        </dd>
                         <dt class="col-sm-4">
                            Ngày đặt hàng
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.OrderDate.ToShortDateString()
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <ul class="list-group mb-3">
                        @foreach (var item in Model.OrderDetails)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">@item.Book.Title</h6>
                                </div>
                                <div>
                                    <small class="text-body-secondary"> @item.Count Adet x Adet Fiyatı : @item.Book.Price ₺ =</small>
                                    <span class="text-body-secondary">@((item.Count * item.Book.Price).ToString("0.00")) ₺</span>

                                    <div class="mt-2"></div>
                                </div>
                            </li>


                        }
                        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                            <div class="text-success">
                                <h6 class="my-0">Tổng cộng :</h6>
                            </div>
                            <span class="text-success">@(Model.OrderHeader.OrderTotal.ToString("0.00")) ₺</span>
                        </li>
                    </ul>
                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <br />
                        @if (Model.OrderHeader.OrderStatus==OrderStatus.StatusPending)
                        {
                            <input type="submit" value="Onayla" class="btn btn-primary form-control" formaction="/Admin/Order/Conf" formmethod="post" />
                        }
                        @if (Model.OrderHeader.OrderStatus == OrderStatus.StatusConfirmed)
                        {
                            <input type="submit" value="Kargoya Ver" class="btn btn-primary form-control" formaction="/Admin/Order/Ship" formmethod="post" />
                        }
                    }
                    else
                    {
                        <label class="btn btn-primary form-control">@Model.OrderHeader.OrderStatus</label>
                    }
                </div>
            </div>
        </div>
    </div>
</form>