@model IEnumerable<BookStore.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p style="text-align:right;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCategory"><i class="bi bi-plus-circle"></i> Thêm thể loại</button>
        @await Html.PartialAsync("_CreateCategoryPartialView",new Category())
    </p>

    <table class="table table-striped table-bordered" id="myTable">
        <thead>
            <tr align="right">
                <th style="padding-right: 320px">Tên thể loại</th>
                <th style="text-align:center;">Cập nhật</th>
                <th style="text-align:center;">Xóa</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Count()>0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td align="center">
                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="@("#UpdateCategory-" + item.Id)" data-url="@Url.Action($"Update/{item.Id}")"><i class="bi bi-pencil-square"></i> Cập nhật</button>
                            @await Html.PartialAsync("_UpdateCategoryPartialView",item)
                        </td>
                        <td align="center">
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="@("#DeleteCategory-" + item.Id)" data-url="@Url.Action($"Delete/{item.Id}")">
                                <i class="bi bi-trash3"></i> Xóa
                            </button>
                            @await Html.PartialAsync("_DeleteCategoryPartialView",item)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                        <p>Không có dữ liệu</p>
                </tr>
            }
        </tbody>
    </table>
</div>


@* @section Scripts{
    <script type="text/javascript">
        $('#myTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/tr.json'
            }
        });</script>
} *@